{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@images": "./src/images",
          "@components": "./src/components",
          "@screens": "./src/screens",
          "@actions": "./src/redux/actions"
        }
      }
    ]
  ]
}
